@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.bord {
    border: 1px solid black;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FDFAD9;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #0D7C66;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

button {
    background: none;
    border: none;
}

.default-panel {
    padding: 10px;
    border: 5px solid #FF6600;
}

.wrapper {
    width: 900px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.record-panel {
    display: flex;
    justify-content: end;
    gap: 50px;
}

.display__game {
    display: flex;
    flex-direction: column;
}

@keyframes move-background {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 500px;
    }
  }

.display {
    width: 100%;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('./assets/sprites/background/grass.png');
    animation-name: move-background;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.display__game {
    width: 200px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.press {    
    display: flex;
    align-items: center;
    gap: 10px;
}

.controll {
    display: flex;
    gap: 100px;
}

#row {
    width: 50px;
    height: 50px;
    border-left: 2px solid #F3C623;
    border-right: 2px solid #F3C623;

    background: gray;
    display: flex;
    justify-content: center;
}

#player {
    width: 40px;
    height: 50px;

    background: url('./assets/sprites/car/player.png');
}

#interference {
    width: 40px;
    height: 50px;

    background: url('./assets/sprites/car/hole.png');
}

#police {
    width: 40px;
    height: 50px;

    background: url('./assets/sprites/car/police.png');
}

#car {
    width: 40px;
    height: 50px;

    background: url('./assets/sprites/car/yellow.png');
}

#start {
    width: 300px;
    height: 300px;
    background-color: #0000008a;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#block {
    width: 50px;
    height: 50px;

    background: yellow;
}

#none {
    width: 50px;
    height: 50px;

    display: flex;
}

#road {
    width: 50px;
    height: 50px;

    background: yellow;
}

#kamaz {
    width: 40px;
    height: 50px;

    background: url('./assets/sprites/car/truck_back.png');
}

#kamaz-front {
    width: 40px;
    height: 50px;

    background: url('./assets/sprites/car/truck_front.png');
}
